html, body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column
}


.row {
    margin-left: 0px;
    margin-right: 0px;
    }

#page-wrap {
    flex-grow: 1;
    margin-top:3px;
    padding-bottom: 20px;
    }

.sidebar {
    padding-left: 45px
}

.navbar {
    border-radius: 0px;
}

footer .navbar {
    align-items: flex-start;
}

footer div {
    margin-bottom: 10px;
    text-align:left;
}

footer a.nav-link {
    padding-bottom: 0px;
    padding-top: 0px;
    text-decoration: underline;
}

footer li {
    height: auto;
}

hr{
    width: 100%;
    color: #FFFF00;
    height: 1px;
    margin: 0px;
}

.social {
    margin-top: 20px;
    margin-left: 16px;
}

.social img {
    width: 30px;
    height: 30px;
}
