<div class="row">
            <div class="form-group form-check col-md-3">
                <h6>Состав</h6>
                {{ render_field_checkbox('wool','Шерсть') }}
                {{ render_field_checkbox('elastane', 'Эластан') }}
                {{ render_field_checkbox('polyester', 'Полиэстер') }}
                {{ render_field_checkbox('viscose', 'Вискоза') }}
                {{ render_field_checkbox('flax', 'Лен') }}
                {{ render_field_checkbox('cashmere', 'Кашемир') }}
                {{ render_field_checkbox('does_not_matter', 'Не имеет
                значения') }}
            </div>
            <div class="form-group form-check col-md-3">
                <h6>Цвет</h6>
                {{ render_field_checkbox('white', 'Белый') }}
                {{ render_field_checkbox('light_blue', 'Голубой') }}
                {{ render_field_checkbox('blue', 'Синий') }}
                {{ render_field_checkbox('dark_blue', 'Темно-синий') }}
                {{ render_field_checkbox('brown', 'Коричневый') }}
                {{ render_field_checkbox('black', 'Черный') }}
            </div>
            <div class="form-group form-check col-md-4">
                <h6>Узор</h6>
                {{ render_field_checkbox('one_color', 'Все из одной ткани') }}
                {{ render_field_checkbox('cell', 'Клетка') }}
                {{ render_field_checkbox('ornament', 'Орнамент') }}
                {{ render_field_checkbox('strip', 'Полоска') }}
                {{ render_field_checkbox('melange', 'Меланж') }}
                {{ render_field_checkbox('texture', 'Фактурный') }}
            </div>

        </div>