{% from "suits/_render_field.html" import render_field_checkbox, render_field_select %}
{% extends 'base.html' %}

{% block title %}
Мужские костюмы
{% endblock %}

{% block content_title %}
Конструктор мужских костюмов
{% endblock %}


{% block content %}
<form method="POST">
    <div class="form-group"><p><h5>Фильтры:</h5></p>
        <div class="row">
            <div class="form-group form-check col-md-4">
                <h6>Ценовая категория</h6>
                {{ render_field_checkbox('budget_segment','Бюджетные
                модели') }}
                {{ render_field_checkbox('middle_segment', 'Средний сегмент')
                }}
                {{ render_field_checkbox('premium_segment', 'Премиум сегмент')
                }}
            </div>
            <div class="form-group form-check col-3">
                <h6>Комплект</h6>
                {{ render_field_checkbox('jacket', 'Пиджак') }}
                {{ render_field_checkbox('trousers', 'Брюки') }}
                {{ render_field_checkbox('vest', 'Жилет') }}
            </div>
            <div class="form-group form-check col-md-4">
                <h6>Ткань</h6>
                {{ render_field_checkbox('same_tissue', 'Все из одной ткани')
                }}
            </div>

        </div>
    </div>
    <div class="form-group">
        <h5>Выбрать аватар</h5>
        {{ render_field_select(form.avatar_item) }}
    </div>
    <div class="form-group">
        <h5>Конструктор пиджака:</h5>
        <div class="row">
            {{ render_field_select(form.silhouette_of_jacket) }}
            {{ render_field_select(form.type_of_jacket) }}
        </div>
    </div>
    <div class="form-group"><h5>Конструктор брюк:</h5>
        <div class="row">
            {{ render_field_select(form.length_of_trousers) }}
            {{ render_field_select(form.type_of_trousers) }}
        </div>
    </div>
    <div class="form-group"><h5>Ткань:</h5>
    {% include "suits/_tissue_filter.html" %}
    </div>

</form>
{% endblock %}