{% extends 'base.html' %}

{% block title %}
    Create new suite
{% endblock %}

{% block suit_title %}
     New suit
{% endblock %}

{% block suit %}
    <div class="col-md-6">
        <form action="{{ url_for('create_suit') }}" method="post">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label(class='control-label') }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>

{% endblock %}