{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content_title %}
Avatar project
{% endblock %}
{% block content %}
<div class="container-fluid col-8" , style="margin-bottom:20px">
    <div id="carouselExampleIndicators" class="carousel slide"
         data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0"
                class="active"></li>
            <li data-target="#carouselExampleIndicators"
                data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators"
                data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="./static/images/1.jpg"
                     alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Первый поясняющий слайд</h5>
                    <p>что-то еще</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="./static/images/2.jpg"
                     alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Второй поясняющий слайд</h5>
                    <p>что-то еще</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="./static/images/3.jpg"
                     alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Третий поясняющий слайд</h5>
                    <p>что-то еще</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators"
           role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators"
           role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut blanditiis
delectus deleniti, dignissimos dolor dolore doloremque doloribus ducimus earum
eligendi eos est eveniet fugiat harum, id illo ipsam iste iusto maxime natus
nisi nobis praesentium quae qui quia quidem quo quod recusandae reiciendis
saepe sequi sint sit suscipit temporibus totam vel! Dignissimos dolores eveniet
excepturi laudantium sequi.
    A accusamus aliquam aliquid asperiores aut consectetur deserunt ea eius
enim error ex harum hic illo inventore ipsam, laborum laudantium maxime natus
neque non numquam quidem repellendus sed soluta tempora vero voluptates
voluptatibus? Beatae distinctio doloremque eligendi, enim expedita facilis
fuga impedit in inventore laborum placeat quam repudiandae rerum sint
suscipit ut veritatis. Aliquam delectus explicabo itaque minus nulla!
    Doloremque eligendi molestiae quaerat! Ad aperiam aspernatur at commodi
consequuntur cum cupiditate debitis doloremque earum, eligendi est illum itaque
laborum molestiae molestias non numquam officiis pariatur perspiciatis qui rem
sapiente sint, sunt tenetur ullam voluptates voluptatum. Ad consequatur dicta
distinctio est, explicabo facere, id nisinumquam odit provident quos repellat
sed, veniam. Animi blanditiis cumquecupiditate deleniti dolor dolore doloribus
enim est exercitationem hic in minima mollitia necessitatibus nesciunt, omnis
pariatur praesentium quaerat quis reiciendis repudiandae tenetur velit voluptas.
Quam quasi quis unde?
{% endblock %}